<%= form_for @passenger, multipart:true do |f| %>

  <% if @passenger.errors.any? %>
    <div id="error_explanation">
      <h2>
        <span class="errors">
          <%= pluralize(@passenger.errors.count, "error") %>
        </span> prohibited this article from being saved:
      </h2>
      <ul>
        <% @passenger.errors.full_messages.each do |msg| %>
          <li class="errors"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<section class="new-article-form">
  <div>
    <%= f.submit 'Submit to Sign up', :class=>"button" %>
  </div>
  <p>
    <%= f.label :email, "Email", :class=>"edit-label" %><br>
    <%= f.text_field :email, size:"50x2" %> <br>
  </p>

  <p>
    <%= f.label :password_hash, "Last Name", :class=>"edit-label"  %><br>
    <%= f.text_field :password_hash, size:"50x2" %>
  </p>

  <div>
    <%= f.submit 'Submit to Sign up', :class=>"button" %>
  </div>
</section>
<% end %>