<h1 class="profile"><%= @driver.first_name %> <%= @driver.last_name %></h1>
<h3 class="profile">ID: <%= @driver.id %></h3>
<h3 class="profile">Vehicle ID: <%= @driver.vehicle_id %></h3>


  <div class="edit-button">
    <%= link_to 'Edit', edit_driver_path(@driver), :class=> "link-b" %>
  </div>

  <div class="delete-button">
    <%= link_to 'Delete', driver_path(@driver), :class=> "link-b",
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  </div>
